.jumbotron{
    background-image: url("./bookshelf.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px; 
    padding-top: 10; 
    text-align: center
}